body {
    background-color: #303135;
}

h1 {
    color: #ffffff;
    text-align: left;
    margin-top: 50px;
    margin-left: 20px;
    font-family: monospace;
}

h2 {
    color: #ffffff;
    text-align: left;
    margin-top: 80px;
    margin-left: 20px;
    font-family: monospace;
}

span {
    font-family: sans-serif;
}

label[for="epochs"] {
    font-family: monospace;
    font-size: 16px; 
    font-weight: bold; 
    color: #CE8fff; 
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px; 
    display: block; 
}

#epochs {
    width: 100px;
    padding: 10px; 
    border: 2px solid #9246CD; 
    border-radius: 5px; 
    font-size: 16px; 
    font-family: monospace; 
    background-color: #595B62;  
    color: #CE8fff; 
    text-align: center; 
    margin: 10px auto; 
    display: block; 
}


.attach-file input[type="file"] {
    display: none;
}
        
.attach-file .button {
    padding: 15px 75px;
    background-color: #595B62;
    color: #CE8fff;
    border: 5px solid #9246CD;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
}

#status {
    color: #ffffff;
    text-align: center;
    margin-top: 100px;
    font-family: monospace;
    font-size: 24px;
}

#downloadButton {
    padding: 15px 75px;
    background-color: #595B62;
    color: #75DF86;
    border: 5px solid #3C964A;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    font-family: monospace;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
    width: 10%;
}

/* Material Design Button Style */
.md-button, #selectButton #backButton, #zipFile::file-selector-button {
    padding: 15px 75px;
    background-color: #595B62;
    color: #CE8fff;
    border: 5px solid #9246CD;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: monospace;
    font-size: 32px;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
}

.container {
display: flex;
justify-content: center;
}

.progress {
    display: none;
    width: 50%; 
    margin: 0 auto; 
    margin-top: 30px; 
    background-color: #595B62; 
    height: 30px; 
    border-radius: 50px; 
    border: 10px solid #595B62;
}

.progress-bar {
    width: 5%; 
    background-color: #3C964A; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: #ffffff; 
    font-weight: bold;
    border-radius: 30px; 
}

/* Material Design Input Style */
.md-input {
    display: block;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;

.status-label {
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    color: #ffffff;
}

