<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/main.css">
    
    <script>
    var source = new EventSource("/progress");
    source.onmessage = function(event) {
        $('.progress-bar').css('width', event.data+'%').attr('aria-valuenow', event.data);
        $('.progress-bar-label').text(event.data+'%');
        if(event.data == 20){
            document.getElementById("status").innerHTML = "Обучение";
        }
        else if (event.data == 40){
            document.getElementById("status").innerHTML = "Создание onnx файла";
        }
        else if(event.data == 100){
            document.getElementById("status").innerHTML = "Файл успешно создан!";
        }
    }
    </script>
    <title>Zip2yolo</title>
</head>
<body>
    <h1>Выберите zip архив</h1>
    <div class="container">

    <label class="attach-file">
      <input type="file" id="zipFile"  accept=".zip"/>
      <div class="button" id="selectButton">Выберите файл</div>
    </label>
    </div>
    <button id="sendButton" disabled class="md-button">Обучить!</button>
    <div id="status"></div>
     <label for="epochs">Введите количество эпох:</label>
        <input type="text" id="epochs" name="epochs">
        <label for="imageSize">Введите размер изображения:</label>
        <input type="text" id="imageSize" name="imageSize">

    <script>
        document.getElementById('zipFile').addEventListener('change', function() {
            var fileInput = document.getElementById('zipFile');
            var sendButton = document.getElementById('sendButton');

            if (fileInput.files.length > 0) {
                sendButton.disabled = false;
                zipFile.disabled = true;
                selectButton.innerText = 'Загружено!';
                selectButton.disabled = true;
            } else {
                sendButton.disabled = true;
                selectButton.innerText = 'Выберите файл';
                selectButton.disabled = false;
            }
        });


        document.getElementById('sendButton').addEventListener('click', function() {
            var fileInput = document.getElementById('zipFile');
            var file = fileInput.files[0];

            var formData = new FormData();
            formData.append('file', file);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://127.0.0.1:4444');
            xhr.send(formData);

            document.querySelector('.progress').style.display = 'block';

            document.getElementById('zipFile').style.display = 'none';
            document.getElementById('selectButton').style.display = 'none';
            document.getElementById('sendButton').style.display = 'none';

            xhr.onload = function() {
                if (xhr.status === 200) {
                    var downloadButton = document.createElement('a');
                    downloadButton.id = 'downloadButton';
                    downloadButton.href = 'http://127.0.0.1:4444/download/best.onnx';
                    downloadButton.download = 'best.onnx';
                    downloadButton.innerHTML = 'Скачать модель';
                    downloadButton.classList.add('container'); // Add Material Design class

                    var checkButton = document.createElement('button');
                    checkButton.id = 'checkButton';
                    checkButton.innerHTML = 'Проверить модель';
                    checkButton.classList.add('container'); // Add Material Design class

                    var backButton = document.createElement('button');
                    backButton.id = 'backButton';
                    backButton.innerHTML = 'Назад';
                    backButton.classList.add('container'); // Add Material Design class

                    var imageDiv = document.createElement('div');
                    imageDiv.id = 'imageDiv';

                    document.body.appendChild(downloadButton);
                    document.body.appendChild(checkButton);
                    document.body.appendChild(backButton);
                    document.body.appendChild(imageDiv);

                    checkButton.addEventListener('click', function() {
                        var xhrCheck = new XMLHttpRequest();
                        xhrCheck.open('GET', 'http://127.0.0.1:4444/check_model');
                        xhrCheck.onload = function() {
                            if (xhrCheck.status === 200) {
                                var response = JSON.parse(xhrCheck.responseText);
                                var resultsPath = response.results_path;
                                console.log(resultsPath);
                                // console.log(response['results_path'])
                                var imageUrl = 'http://127.0.0.1:4444/' + resultsPath;
                                
                                var img = document.createElement('img');
                                img.src = imageUrl;
                                img.classList.add('container'); // Add Material Design class
                                imageDiv.innerHTML = '';
                                imageDiv.appendChild(img);
                            } else {
                                alert('Ошибка при проверке модели');
                            }
                        };
                        xhrCheck.send();
                    });

                    backButton.addEventListener('click', function() {
                        location.reload();
                    });

                    setTimeout(function() {
                        document.querySelector('.progress').style.display = 'none';
                        document.getElementById("status").style.display = "none";
                    }, 1000); // 1000 milliseconds = 1 second delay
                }
            };
        });
    </script>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <span class="progress-bar-label">0%</span>
        </div>
    </div>
</body>
</html>
