<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/main.css">
    
    <script>
    var source = new EventSource("/progress");
    source.onmessage = function(event) {
        $('.progress-bar').css('width', event.data+'%').attr('aria-valuenow', event.data);
        $('.progress-bar-label').text(event.data+'%');
        if(event.data == 20){
            document.getElementById("status").innerHTML = "Training...";
        }
        else if (event.data == 40){
            document.getElementById("status").innerHTML = "Creating onnx file...";
        }
    }
    </script>
    <title>Zip2yolo</title>
</head>
<body>
    <h1>Choose zip file</h1>
    <div class="container">
        <label class="attach-file">
            <input type="file" name="file" id="zipFile" accept=".zip"/>
            <div class="button" id="selectButton" style="font-family: monospace;">Choose file</div>
        </label>
    </div>

    <label for="epochs">Epochs number: </label>
    <input type="number" name="epochs" id="epochs" min="1" value="2">
    <button id="sendButton" disabled class="md-button">Start training</button>
    <div id="status"></div>

    <form id="uploadForm" action="/" method="post" enctype="multipart/form-data" style="display:none;">
        <input type="file" name="file" id="hiddenFileInput">
        <input type="number" name="epochs" id="hiddenEpochsInput">
    </form>

    <script>
        document.getElementById('zipFile').addEventListener('change', function() {
    var fileInput = document.getElementById('zipFile');
    var sendButton = document.getElementById('sendButton');

    if (fileInput.files.length > 0) {
        sendButton.disabled = false;
        fileInput.disabled = true;
        document.getElementById('selectButton').innerText = 'File is loaded';
        document.getElementById('selectButton').disabled = true;
    } else {
        sendButton.disabled = true;
        document.getElementById('selectButton').innerText = 'Choose file';
        document.getElementById('selectButton').disabled = false;
    }
});

document.getElementById('sendButton').addEventListener('click', function() {
    var fileInput = document.getElementById('zipFile');
    var epochsInput = document.getElementById('epochs');
    var file = fileInput.files[0];
    var epochs = epochsInput.value;

    var formData = new FormData();
    formData.append('file', file);
    formData.append('epochs', epochs);

    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'http://127.0.0.1:4444');
    xhr.send(formData);

    document.querySelector('.progress').style.display = 'block';
    document.getElementById('zipFile').style.display = 'none';
    document.getElementById('selectButton').style.display = 'none';
    document.getElementById('sendButton').style.display = 'none';

    xhr.onload = function() {
        if (xhr.status === 200) {
            var downloadButton = document.createElement('a');
            downloadButton.id = 'downloadButton';
            downloadButton.href = 'http://127.0.0.1:4444/download/best.onnx';
            downloadButton.download = 'best.onnx';
            downloadButton.innerHTML = 'Download';
            downloadButton.classList.add('container');

            var checkButton = document.createElement('button');
            checkButton.id = 'checkButton';
            checkButton.innerHTML = 'Check model';
            checkButton.classList.add('container');

            var backButton = document.createElement('button');
            backButton.id = 'backButton';
            backButton.innerHTML = 'Back';
            backButton.classList.add('container');

            var imageDiv = document.createElement('div');
            imageDiv.id = 'imageDiv';

            // Создаем слайдер и элемент для отображения значения слайдера
            var confidenceLabel = document.createElement('label');
            confidenceLabel.for = 'confidenceSlider';
            confidenceLabel.innerText = 'Choose the confidence value:';

            var confidenceSlider = document.createElement('input');
            confidenceSlider.type = 'range';
            confidenceSlider.id = 'confidenceSlider';
            confidenceSlider.name = 'confidence';
            confidenceSlider.min = '0.1';
            confidenceSlider.max = '1.0';
            confidenceSlider.step = '0.1';
            confidenceSlider.value = '0.5';

            var confidenceValue = document.createElement('span');
            confidenceValue.id = 'confidenceValue';
            confidenceValue.innerText = confidenceSlider.value;

            confidenceSlider.addEventListener('input', function() {
                confidenceValue.innerText = confidenceSlider.value;
            });

            document.body.appendChild(downloadButton);
            document.body.appendChild(checkButton);
            document.body.appendChild(backButton);
            document.body.appendChild(confidenceLabel);
            document.body.appendChild(confidenceSlider);
            document.body.appendChild(confidenceValue);
            document.body.appendChild(imageDiv);

            checkButton.addEventListener('click', function() {
                var xhrCheck = new XMLHttpRequest();
                var confidence = confidenceSlider.value;

                xhrCheck.open('GET', 'http://127.0.0.1:4444/check_model?confidence=' + confidence, true);
                xhrCheck.onload = function() {
                    if (xhrCheck.status === 200) {
                        var response = JSON.parse(xhrCheck.responseText);
                        var resultsPath = response.results_path;
                        var imageUrl = 'http://127.0.0.1:4444/' + resultsPath;

                        var img = document.createElement('img');
                        img.src = imageUrl;
                        img.classList.add('container');
                        imageDiv.innerHTML = '';
                        imageDiv.appendChild(img);
                    } else {
                        alert('Ошибка при проверке модели');
                    }
                };
                xhrCheck.send();
            });

            backButton.addEventListener('click', function() {
                location.reload();
            });

            setTimeout(function() {
                document.querySelector('.progress').style.display = 'none';
                document.getElementById("status").style.display = "none";
            }, 1000);
        }
    };
});

    </script>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <span class="progress-bar-label">0%</span>
        </div>
    </div>
</body>
</html>
